body {
	background-color: #404040;
	color: #EAEAEA;
}

.jumbotron {
	background-color: #FAFAFF;
	color: #404040;
	margin-top: 50px;
}

.main {
	padding: 20px;
}

.copyright {
	text-align: center;
}

.contact {
	padding-top: 20px;
}

.banner {
	margin-top: 50px;
}

a {
	color: #EAEAEA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #EAEAEA;
}

.social-media-icons {
	height: 30px;
	padding-right: 8px;
}