body {
	background-color: #404040;
	color: #EAEAEA;
}

.jumbotron {
	background-color: #FAFAFF;
	color: #404040;
	margin-top: 50px;
}

.main {
	padding: 20px;
	margin-top: 50px;
}

.copyright {
	text-align: center;
}

.contact {
	padding-top: 20px;
}

a {
	color: #EAEAEA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #EAEAEA;
}

.social-media-icons {
	height: 30px;
	padding-right: 8px;
}

.display-4 {
	margin-bottom: 25px;
}

/* responsive design */




/* Challenge 1 CSS */

.challenge1-input {
	margin-bottom: 10px;
	margin-left: 10px;
}

#challenge1-submitButton {
	font-size: 100%;
	margin-bottom: 10px;
}

#challenge1-output{
	font-size: 115%;
}


/* Challenge 2 CSS */

.challenge2-input {
	margin-bottom: 10px;
}