<!-- About Section -->
<section class="" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Since first taking a C++ course in high school, I have been absolutely in love with programming.
          I have dabbled in C++, C#, HTML, CSS, JavaScript, Python, Lua, SQL, and probably others.
          But my most-frequently used, and current specialty, lies in full-stack web development
          (especially because it keeps me close to JavaScript, my true love).
        </p>
      </div>
      <div class="col-lg-4">
        <p>My first freelance work as a web developer was designing and implementing the frontend for a charity website way back at the end of 2016.
          I've been diving deeper and deeper into the web development rabbit hole ever since and it has been a wonderland.
        </p>
      </div>
    </div>
  </div>
</section>
