<!-- About Section -->
<section class="" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p><strong>Databases:</strong> DBeaver, ElephantSQL, Insomnia, NoSQL, PostgreSQL
        </p>
      </div>
      <div class="col-lg-4">
        <p><strong>Frameworks:</strong> Bootstrap, Flask, Rested APIs, JSON, Redux, React
        </p>
      </div>
      <div class="col-lg-4">
        <p><strong>Languages:</strong> HTML, CSS, JavaScript, TypeScript, Python, C#
        </p>
      </div>
      <div class="col-lg-4">
        <p><strong>Tools/DevOps:</strong> Firebase, Github, Heroku
        </p>
      </div>
    </div>
  </div>
</section>
