<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-12">
            <ul class="contact-list">
              <li class="p-name"><a href="https://www.linkedin.com/in/adam-schellenberg-aa6263b7/" target="_blank"><img style="width:80px; margin-top:4px;" src="/assets/images/linkedin.png"></a></li>
            </ul>
          </div>
          <div class="footer-col footer-col-12">
              <ul class="contact-list">
                <li class="p-name"><a href="https://github.com/adamschellenberg" target="_blank"><img style="width:80px;margin-left:-8px;" src="/assets/images/github.png"></a></li>
              </ul>
            </div>
          <div class="footer-col footer-col-12">
          </div>
      </div>
    </div>
    <div style="text-align:center">
      All content copyright <a href="/">Adam Schellenberg</a> © 2018 • All rights reserved.
    </div>
  </footer>