---
layout: default
---
<div class="home">

    <img src="/assets/images/schellenberg-family.jpg" class="banner-img">

    <ul class="post-list">
      {% for post in site.categories.about %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>

  </div>