#main-homepage {
    padding-bottom: 50px;
}

#avatar-image {
    width: 250px;   
}

.section-label {
    font-size: 1.8rem;
}

.icon-svg {
    height: 80px;
    padding: 10px;
}

.blockquote-footer {
    padding-top: 10px;
}


@media only screen and (min-width: 768px) {
    .blurb-bio {
        margin-left: 25%;
        margin-right: 25%;
    }
}
